<div class="question">
    <div class="questin-content">
        <div class="question-text">
            <%= question.text%>
        </div>
    <% if question.answer.present? %>
        <div class="question-answer">
            <%= question.answer if question.answer.present? %>
        </div>
    <%end%>

        <div class="question-date">
            <%= question.created_at.strftime('%d %b %M:%H')%>
        </div>
    </div>
</div>