<div class="content-wrapper">
    <div class="buffer-both">
        <h1 class="title">Our Users</h1>
    </div>
    <div class="user-wrapper">
    <% @users.each do |user|%>
    <div class="user-list-item">
        <div class="user-image-preview">
            <%= link_to image_tag(user_avatar(user), class: "user-image-s"), user_path(user) %>
        </div>
    </div>
    <% end %>
    </div>
</div>