
<div>
    <h1><%= @user.name %></h1>
        <%= image_tag user_avatar(@user), alt: 'profile pic', class: 'image'%>
    <h2>@<%= @user.username %></h2>
    <a href="#" class="button">Ask question</a>
    <div>
        <% @questions.each do |question|%>
            <%= render partial: 'questions/question', object: question %>
        <% end %>
    </div>
</div>