.button {
  width: 186px;
  height: 58px;
  background: #615dfa;
  border-radius: 20px;
  color: white;
  padding: 18px 33px;
  text-decoration: none;
}

.image {
  width: 150px;
  border-radius: 20px;
}
