.content-wrapper {
  background-color: white;
}
.button {
  width: 186px;
  height: 58px;
  background: #615dfa;
  border-radius: 20px;
  color: white;
  padding: 18px 33px;
  text-decoration: none;
}

.image {
  width: 150px;
  border-radius: 20px;
}
.user-image-s {
  width: 100px;
  height: 100px;
  border: 3px solid #6c53e7;
  border-radius: 60px;
  object-fit: cover;
}
